<div class="container">
<div class="container-wrapper">
<div class="left-container">
  <div class="logo-landing">
      <%=image_tag("repod_logo.png", :class => "img-responsive", :id => "homepage-logo")  %>
  </div>
</div>

<div class="right-container">
  <div class ="login-form">
    <h2>Login</h2>
    <%= form_for(:session, url: login_path) do |f| %>
     <p> <%= f.email_field :email, :placeholder => "Email", :class => "form-control" %></p>
      <p><%= f.password_field :password, :placeholder => "Password", :class => "form-control" %></p>
      <p><%= f.submit "Login", :class => "btn btn-default" %></p>
    <% end %>
  </div>
</div>
</div>
</div>

