<h1 class="pull-right">Register - students </h1>

<%= form_for(@user) do |f| %>
  <div class="form-group has-error">
    <%= f.text_field :username, :placeholder => "Username" %>
  </div>
  <%= f.email_field :email, :placeholder => "Email" %>
  <%= f.password_field :password, :placeholder => "Password" %>
  <%= hidden_field(:user, :role, :value => "student") %>
  <%= f.submit "Register", class: "btn-submit" %>
<% end %>
