<div class="container">
  <div class = "row">
    <div class="col-lg-6 col-lg-offset-3">
      <h1>Register for Student Access</h1>
      <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@user.errors.count, "error") %> prohibited
              this user from being saved:
            </h2>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.text_field :username, :placeholder => "Username", :class => "form-control" %><br>
        <%= f.email_field :email, :placeholder => "Email", :class => "form-control" %><br>
        <%= f.password_field :password, :placeholder => "Password", :class => "form-control" %><br>
        <%= hidden_field(:user, :role, :value => "student") %>
        <%= f.submit "Register", :class => "btn btn-default" %>
      <% end %>
    </div>
  </div>
</div>