<div class="container">
  <div class = "row">
    <div class="col-lg-8 col-lg-offset-2">
    <h4>Suggest a New Resource</h4>
      <%= form_for @post, remote:true do |f| %>
        <%= f.text_field :title, :placeholder => "Title", :class => "form-control" %><br>
        <%= f.text_area :description, :placeholder => "Description", :class => "form-control", :rows => "10" %><br>
        <%= f.select(:media_type, :class => "form-control drop-down") do%>
          <%  ["text","video","audio"].each do |c| %>
            <%= content_tag(:option, c, value: c) %>
        <% end %>
        <%= url_field(:post, :url, :placeholder => "URL", :class => "form-control")%>
      <% end %><br>
      <%= f.submit "Add Post", :class => "btn btn-default" %>
      <% end %>
    </div>
  </div>
</div>
