<div class="container">
  <div class="search bar">
    <%= form_tag(posts_path, :method => "get", id: "search-form") do%>
    <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
    <%= submit_tag "Search" %>
    <% end %>
    <% if @posts.present? %>
      <%= render @posts %>
    <% else %>
      <p> There are not posts containing the key words <%= params[:search] %>.</p>
    <% end %>
  </div>
  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
    <div class="list-group">
      <h3>Sort By</h3>
      <a href="#" >Topic</a><br>
      <a href="#">Phase</a><br>
      <a href="#">Most Recent</a>
    </div>
    <h3><%= link_to "Add New Resource", new_post_url %></h3>
  </div>

<div id="all-resources">
  <h1>All Resources</h1>
  <ul>
    <% @posts.each do |post| %>
      <h4><li><%= link_to "#{post.title}", post_path(post) %></li></h4>
    <% end %>
  </ul>
</div>

<div id="wrapper" class="row row-offcanvas row-offcanvas-right pull-right">
  <h1> Resources by Tag </h1>
    <% @tags.each do |tag| %>
     <div class="card thumbnail">
      <h2><%= link_to "#{tag.name}", tag_path(tag) %></h2>  
           
      <% tag.posts.last(5).reverse.each do |post| %>
        <tr>
          <li><td><%= link_to "#{post.title}", post_path(post) %></td></li>
        </tr>
      <% end %>
    
     </div>
    <% end %>
  </div>
</div>





